/*sticky header position*/
.sticky.is-sticky
{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
}

#guild-intro
{
    margin-top: 50px;
    background-color: transparent;
    font: 18px/1.5 sans-serif;
}

#guild-intro .btn
{
    margin-top: 30px;
}