{% extends "base.html.twig" %}

{% block title %}À propos{% endblock %}

{% block body %}
    <div class="container-fluid">  
        <div class="container parchemin">
            <h1>À propos</h1>
            <img class="mx-auto d-block" height="500px" width="auto" src="{{ asset('images/work-in-progress.png') }}" alt="Travaux sur cette page en cours, contenu disponible prochainement">
        </div>
    </div>
{% endblock %}
