{% extends "base.html.twig" %}

{% block title %}Fils du Nord{% endblock %}

{% block body %}
    <div class="container-fluid">  
        <div class="container parchemin">
            <h1>Les Fils du Nord</h1>
            <p>Face au constat d'une renversante <strong>montée en puissance des Réprouvés</strong> et de l'anéantissement programmé de la race humaine dans le Nord, une initiative a été lancée par l'Ost Pourpre peu de temps après le Cataclysme afin de <strong>réunir tous les natifs des royaumes du Nord</strong> (Lordaeron, Gilnéas, Stromgarde, Alterac) au sein d'une même alliance, au-delà de leurs guildes ou appartenances diverses. Les Fils du Nord étaient nés. Cette alliance reposait sur un but unique, énoncé clairement, afin de ne pas se perdre dans les contingences politiques ou historiques qui existent fatalement entre membres d'une même et vieille famille : <strong>sauver ce qui peut l'être de la race des Hommes du Nord et en rétablir la grandeur.</strong></p>
            <p>Une première réunion du Conseil permit de faire le compte des volontaires prêts à s'engager dans ce combat à mort contre Fossoyeuse. Cette réunion se tint sur l'île de Fenris, non loin de l'ancienne capitale de Lordaeron, et y participèrent des noms aussi prestigieux que la Meute Sombrecrin, les Sentinelles, les Aigles de Wildhammer et la Ligue Marchande. Les bases de l'organisation des Fils du Nord furent jetées lors de cette réunion.</p>
            <p>Le deuxième sommet se déroula quant à lui à la Main de Tyr, et fut l'occasion de faire le point sur nos éventuels alliés en dehors du sang des Hommes du Nord (Croisade d'Argent, Cercle Cénarien, Marteaux-Hardis, ...). Force fut de constater que, en dépit des bons sentiments que suscitaient nos ambitions et en dehors de quelques cas isolés, il ne nous faudrait compter que sur nos propres forces.</p>
            <p>D’autres initiatives ont été placées sous l’égide des Fils du Nord. Ainsi l'Ost Pourpre a-t-elle réunie autour d'elle la majeure partie de ses alliés pour une expédition d'une semaine en Norfendre afin de partir sur les traces des sources du pouvoir actuel de Sylvanas : la nouvelle peste et les val'kyrs. Une expédition dont les conclusions firent d'ailleurs l'objet d'un point mis à l'ordre du jour du troisième Sommet, organisé dans la partie loyaliste de Stromgarde</p>
            <p>Dans un tout autre registre a été organisé à Hurlevent, avec les subventions de la Compagnie Steelwood, un Festival des Cultures du Nord destiné à démontrer à tout un chacun la survivance d'une culture spécifique et atypique chez les humains non-natifs de Hurlevent. Cuisine traditionnelle, contes et légendes du Nord, cours d'escrime, littérature et chansons, pièce de théâtre retraçant la naissance de la puissante Arathor, la soirée fut un enchantement pour les habitants de la capitale, souvent peu informés du rayonnement culturel de leurs cousins.</p>
            <p><strong>Aujourd'hui, les Fils du Nord sont plus que jamais d’actualité face aux menées sournoises et destructrices de l’Usurpatrice.</strong></p>
        </div>
    </div>
{% endblock %}
