{% extends "base.html.twig" %}

{% block title %}AppBundle:Main:LieuxDeVie{% endblock %}

{% block body %}
    <div class="container-fluid">  
        <div class="container parchemin">
            <h1>Le Beffroi du Nord</h1>
            <p>Les Maleterres de l’Est sont loin d’être une destination touristique de premier choix. Ces terres autrefois riches ont fait l’objet, depuis la troisième guerre, de tant de dévastations que les compiler nécessiterait plusieurs ouvrages. Fléau, Croisade Écarlate, Aube d’Argent, Lame d’Ébène, Réprouvés, Alliance... Les belligérants ne manquent pas, pas plus que les édifices militaires bâtis pour tenir des positions parfois précaires. On ne compte plus, dans la région, les citadelles et autres forteresses en ruines après un assaut dont on devine qu’il fut le dernier.</p>
            <p>C’est dans l’une de ces places fortes que l’Ost Pourpre a décidé de s’établir peu après la bataille de Fossoyeuse. Quittant la Garnison du Ruisseau de l’Ouest qui l’avait vu naître et grandir, l’ordre choisissait de prendre ses quartiers au plus près de l’ennemi, concevant que <strong>l’ultime bataille pour le Nord était en train de se jouer</strong>. Trouver une forteresse libre de tout occupant ne fut pas chose malaisée : plus difficile en fut la remise en état, pour des raisons tant pratiques que financières. Ainsi, bien des travaux restent à mener sur le site, <strong>et il n’est pas dit que des choses ennuyeuses ne s’y cachent pas encore</strong>.</p>

            <p>Parmi les principaux bâtiments du site, on peut trouver :</p>
            <h2>Les Remparts</h2>
            <p>Première structure remise en état, cette fière muraille située entre deux massifs montagneux a vocation à <strong>préserver la sérénité des membres de l’Ost contre toute tentative d’invasion</strong>. Même si le Fléau n’est désormais qu’un lointain souvenir, de nombreuses créatures rôdent encore, qui se verraient d’un bon œil croquer dans le flanc juteux d’un page tout juste arrivé d’Hurlevent. Les remparts sont <strong>dirigés depuis la tour de garde</strong> qui les surplombe, où les sentinelles prennent leurs quartiers et peuvent même faire un somme grâce aux quelques lits de camp qui y sont installés.</p>

            <h2>La Commanderie</h2>
            <p>La Commanderie est, comme son nom l’indique, <strong>le lieu où se prennent les décisions les plus importantes</strong> de l’Ost. Outre une salle de réunion qui sert tant à recevoir les plénipotentiaires étrangers qu’à rassembler les troupes pour échanger sur la vie de l’ordre, on y trouve une bibliothèque bien fournie – quoique pas encore inventoriée dans sa totalité –, un scriptorium permettant à ceux qui le souhaitent de travailler dans le silence et un clocher dont l’utilité n’a pas encore été trouvée – pour le moment.</p>

            <h2>Le Terrain d’Entraînement</h2>
            <p>Sur l’un des côtés de la Commanderie, un terrain d’entraînement moderne a été installé pour <strong>permettre aux soldats de ne pas perdre la forme</strong>. Pistes de course, cibles de tir et autres équipements sont à disposition de ceux qui ne prennent pas leur engagement à la légère.</p>

            <h2>La Garnison</h2>
            <p>Bâtiment militaire typique, la Garnison a vocation à <strong>regrouper tout ce qui a trait à la vie quotidienne</strong> des soldats. On y trouve ainsi, outre leurs chambrées, des endroits aussi importants que les cuisines, le mess, l’infirmerie, les réserves, la sainte-barbe, les laboratoires – et les geôles. Nul doute que certains y passeront un temps appréciable !</p>

            <h2>La Forge</h2>
            <p>La chaleur qui émane de ce bâtiment nuit et jour manifeste bien la volonté de l’Ost de <strong>dépendre le moins possible de l’extérieur pour son armement et ses équipements</strong>. Des forgerons madrés y opèrent dans un bruit infernal, qu’il s’agisse de réparer une armure endommagée ou d’envisager de nouvelles conceptions pour équiper les soldats.</p>

            <h2>Le Comptoir</h2>
            <p>Ce lieu du Beffroi est atypique. Et pour cause : il accueille des gens qui ne sont pas membres de l’Ost Pourpre. <strong>Les salariés de la Compagnie Steelwood</strong> présents sur le site ont vocation à travailler main dans la main avec les fidèles de l’Ost, car les liens qui unissent les deux entités sont un secret de polichinelle. La Steelwood a beaucoup contribué aux réparations du Beffroi, et cette alliance se perpétue au travers de cette installation qui est <strong>à la fois une ambassade et un magasin général</strong>.</p>

            <h2>Le Potager</h2>
            <p>Niché dans un recoin du Beffroi, un petit espace a été défriché pour <strong>permettre de cultiver plantes médicinales et légumes frais</strong>. Au-delà de ces objectifs très concrets, le potager abrite également les expériences menées au sein de l’Ost en vue de <strong>trouver une solution permettant de faire refleurir le Nord</strong>.</p>

            <h2>La Cathédrale</h2>
            <p>Relique du passé pieux de Lordaeron, cet édifice religieux n’a pas été la priorité des officiers dans les travaux de remise en état du site. Pour autant, l’endroit n’est pas laissé à l’abandon, et la volonté est réelle d’en faire un lieu à même d’<strong>accueillir la foi des soldats et les cérémonies les plus importantes de la vie de l’ordre</strong>.</p>
        </div>
    </div>
{% endblock %}
