{% extends "base.html.twig" %}

{% block title %}AppBundle:Main:OnRecherche{% endblock %}

{% block body %}
    <div class="container-fluid">  
        <div class="container parchemin">
            <h1>Bourse à l'emploi</h1>

            <p>Il arrive que, au-delà des rangs que les personnes peuvent occuper au sein de l’ordre, certains membres de l’Ost soient associés à des fonctions plus spécifiques, relatives à la vie quotidienne de la Garnison. Soucieux de faire preuve de transparence et de favoriser les souhaits de mobilité de leurs soldats, les officiers ont décidé de mettre en place une Bourse à l’Emploi, afin de mettre en avant les postes ouverts à candidature.</p>
            
            <h2>Modalités</h2>
            </p>Tout candidat doit transmettre sa demande directement à l’Intendant. La candidature sera étudiée par son bureau afin de s’assurer qu’elle correspond au profil exigé, puis remontée aux autres officiers. Un entretien sera organisé avec le candidat, avant une prise de décision.</p>
            </p>À noter que les fonctions ouvertes dans la Bourse à l’Emploi s’ajoutent à celles qui sont inhérentes à l’incorporation du soldat dans l’ordre, même si elles peuvent donner lieu à des aménagements de ses journées de travail.</p>
            </p>Enfin, les postes sont également publiés à l’extérieur de la Garnison, au sein des gazettes de Hurlevent, afin de permettre à d’éventuels postulants de se positionner sur telle ou telle fonction.</p>
             
            <h2>On recherche :</h2>
            
            <h4>PALEFRENIER</h4>
            <p><strong>Description du poste :</strong> le palefrenier est chargé de l'entretien des chevaux et de l'écurie de la Garnison. Il s'occupe notamment de nourrir, de nettoyer et d'apporter les soins élémentaires aux montures. Il entretient également le matériel d'équitation (selles, harnais, brides).</p>
            <p><strong>Possibilités d'évolution :</strong> dressage des jeunes montures, suppléance de l’Intendant pour l'achat de nouveaux animaux, formation équestre des membres de l'Ost.</p>
            <p><strong>Compétences requises :</strong> travail physique. Bon relationnel avec les animaux. Personne soignée et attentive. Des notions de soins vétérinaires et/ou de maréchalerie sont un plus.</p>
            <p><strong>Rang dans l'Ost Pourpre :</strong> le poste est ouvert aux pages et écuyers.</p>
        </div>
    </div>
{% endblock %}
