{% extends "base.html.twig" %}

{% block title %}AppBundle:Main:Organigramme{% endblock %}

{% block body %}
    <div class="container-fluid">  
        <div class="container parchemin">
            <h1>Organisation</h1>
            <p>L’Ost Pourpre est une organisation militaire. En ce sens, elle est soumise à une hiérarchie bien établie et à une stricte discipline, qui lui permettent de structurer son action sur tous les champs de bataille d’Azeroth, mais également au Beffroi du Nord, son quartier général dans les Maleterres de l’Est.</p>

            <h2>Structure de l’Ost</h2>
            <p>Mais comment se déroule la vie au sein de l’Ost Pourpre ? <strong>Demandons donc à Alix, jeune recrue, qui vient de rejoindre l’ordre...</strong></p>
            <p>La candidature s’est achevée : au terme d’un ultime entretien avec les officiers au sein de la Commanderie du Beffroi, Alix a été admis·e dans l’ordre. Iel est désormais un·e <strong>page</strong>, le premier rang au sein de l'Ost. Alix sait que <strong>ce statut est temporaire</strong> : il n’est destiné qu’à s’assurer de la motivation et du respect des règles par la nouvelle recrue, et ne dure normalement que quelques semaines. De fait, durant cette période, Alix ne sera pas en droit de porter le tabard. En revanche, iel est déjà au travail ! Avec les autres pages, sa mission est simple : <strong>protéger le Beffroi en gardant ses entrées et en patrouillant aux alentours</strong>.</p>
            <p>Alix, s’iel fait preuve de sérieux et d’assiduité, obtiendra rapidement ses premières responsabilités. Au terme d'une cérémonie officielle, iel deviendra <strong>écuyer·e</strong> et <strong>recevra son tabard</strong> de la main des officiers de l’ordre. Alix devra alors faire un choix qui conditionnera son avenir dans l’Ost : <strong>décider <a href="#corps-de-l-armee">quel corps iel souhaite rejoindre</a></strong>.</p>
            <p>À l’avenir, Alix pourra espérer devenir <strong>chevalier·e</strong>. Les chevaliers sont <strong>les piliers de l’Ost Pourpre</strong>, des vétérans qui ont déjà de beaux combats à leur actif et sur qui repose la continuité des affaires de l’ordre. Ils assument des <strong>responsabilités plus importantes</strong>, tant en missions sur le terrain qu’au sein du Beffroi. Dans chaque corps d’armée, ils assurent soutien et encadrement à leurs compagnons moins expérimentés.</p>
            <p>À la tête de chaque corps se trouvent <strong>un lieutenant</strong>. Ces individus ont été distingués au milieu de leurs pairs en raison de leurs exceptionnels faits d’armes. Les lieutenants peuvent <strong>participer aux discussions stratégiques</strong> et à la mise au point des campagnes menées par l’ordre : ils sont la voix de leurs officiers de tutelle sur le terrain.</p>
            <p>Les <strong>officiers</strong> sont au nombre de quatre. Ils sont en charge des destinées de l’Ost Pourpre. Un certain nombre de qualités sont indispensables pour atteindre l’un de ces postes prestigieux, au premier rang desquelles figure la capacité à <strong>placer les intérêts de l’ordre avant toute autre considération</strong>. Chaque officier a la charge d’un rôle spécifique au sein de l’organisation :</p>
            <ul>
                <li>
                    <strong>L’Ambassadeur</strong> est le responsable de la <strong>diplomatie</strong> de l'Ost Pourpre. Il a la responsabilité des relations avec Hurlevent et le reste de l'Alliance. Il est également en charge de faire vivre le réseau d'alliances de l'Ordre, notamment au travers des Fils du Nord. Enfin, il représente l'Ost en cas de litige.
                </li>
                <li>
                    <strong>Le Commandant</strong> a la main sur les <strong>affaires militaires</strong> de l'Ost et sur le déploiement de ses soldats. Il est également en charge de remonter leurs besoins d'ordre logistique et militaire afin d'obtenir de l’Intendant des ressources. Il est enfin en charge de la tactique sur le terrain.
                </li>
                <li>
                    <strong>L’Intendant</strong> est responsable de la <strong>logistique</strong> de l'Ordre. À ce titre, il s'occupe de l'accueil des nouveaux arrivants, de la répartition des chambres et des problèmes de la vie quotidienne. Il a la haute main sur les affaires financières, les transactions et les comptes de l’ordre. Enfin, il assure chaque mois, en personne, le paiement de la solde des membres de l'ordre.
                </li>
                <li>
                    Le <strong>Connétable</strong> est le <strong>dirigeant</strong> de l’Ost. Il est à la fois son visage et l’incarnation de son histoire et de ses ambitions. Conseillé par ses officiers, il prend et assume les décisions qui pèsent sur l’avenir de l’ordre. Il a la responsabilité des aspects politiques, militaires et stratégiques.
                </li>
            </ul>
            <p>Note : des réunions officielles de l’ordre se tiennent régulièrement <strong>dans la Commanderie</strong> du Beffroi du Nord. Ces réunions sont présidées par le Connétable, secondé par l’Intendant qui en est le maître de cérémonie. C’est au cours de ces réunions que sont annoncées <strong>les promotions, les changements d’organisation et les projets de l’ordre</strong>. Chaque officier y présente un point spécifique à ses attributions. Les membres sont également invités à poser leurs questions et à formuler leurs idées.</p>


            <h2 id="corps-de-l-armee">Les Corps d’Armée</h2>

            <p>À l’exception des pages, les membres de l’Ost Pourpre sont organisés <strong>en corps d’armée</strong>, chacun d’eux étant sous le haut patronage d’un officier et sous la direction opérationnelle d’un lieutenant. Ces structures sont <strong>orientées vers un objectif bien précis</strong>, ce qui permet de faire fructifier les talents particuliers de leurs membres. De plus, l’organisation en corps d’armée permet de créer <strong>une forte identification et des liens plus importants</strong> entre leurs membres que ce qui peut exister au sein d’une masse indifférenciée de soldats.</p>
            <p>Vous venez d’arriver au sein de l’Ost ? Demandez-vous déjà à quoi pourrait ressembler votre avenir !</p>
            <div class="row">
                <div class="corps-armee col-md-4">
                    <h3>Le Corps Militaire</h3>
                    <dl>
                        <dt>Officier supérieur :</dt><dd>TODO</dd>
                        <dt>Lieutenant :</dt><dd>TODO</dd>
                        <dt>Membres :</dt>
                        <dd>
                            Le Corps Militaire regroupe ceux <strong>dont le métier est celui des armes</strong>. Qu’il s’agisse de vétérans de plusieurs guerres, de jeunes conscrits ou de personnes ayant choisi d’épouser une vie de soldat, ces fidèles de l’Ost Pourpre sont <strong>en première ligne</strong> pour défendre ses intérêts, en rang sur le champ de bataille ou en silence derrière les lignes ennemies.
                        </dd>
                    </dl>
                </div>
                <div class="corps-armee col-md-4">
                    <h3>Le Corps Diplomatique</h3>
                    <dl>
                        <dt>Officier supérieur :</dt><dd>TODO</dd>
                        <dt>Lieutenant :</dt><dd>TODO</dd>
                        <dt>Membres :</dt>
                        <dd>
                            Le Corps Diplomatique rassemble ceux qui sont chargés de <strong>faire rayonner le nom de l’Ost</strong> où qu’il soit prononcé. Ambassadeurs détachés auprès d’un État ami (ou non), érudits voués à relater nos hauts faits et à les faire connaître ou espions chargés de collecter nos renseignements partout en Azeroth, ils construisent patiemment la puissance symbolique de l’Ost. Parmi eux se trouve en particulier un petit groupe de <strong>personnes savantes</strong> qui rassemblent des informations sur l’ancien Arathor, afin de faire connaître au monde <strong>la culture glorieuse des Hommes du Nord</strong>.
                        </dd>
                    </dl>
                </div>
                <div class="corps-armee col-md-4">
                    <h3>Le Corps Logistique</h3>
                    <dl>
                        <dt>Officier supérieur :</dt><dd>TODO</dd>
                        <dt>Lieutenant :</dt><dd>TODO</dd>
                        <dt>Membres :</dt>
                        <dd>
                            Le Corps Logistique est <strong>le poumon organisationnel de l’Ost Pourpre</strong>. Sans lui, rien ne pourrait fonctionner. Ses membres sont en effet <strong>responsables de l’intendance</strong> de l’ordre : infirmiers et médecins apportant des soins aux soldats, cuisiniers préparant de quoi nourrir les troupes, ingénieurs et forgerons créant de nouvelles armes, palefreniers prenant soin de nos montures, alchimistes concoctant de nouvelles potions…
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
