{% extends "base.html.twig" %}

{% block title %}Qui sommes nous ?{% endblock %}

{% block body %}
    <div class="container-fluid">  
        <div class="container parchemin">
            <h1>Qui sommes-nous ?</h1>
            <p>Pour ceux, futurs candidats, éventuels alliés ou simples curieux, qui s'interrogent sur l'Ost Pourpre, voici en quelques mots ce que nous sommes :</p>
            <h2>Principes</h2>
            <p>L'Ost Pourpre, créée en octobre 2007, est une guilde résolument « roleplay », dont le principal intérêt dans le jeu est donc <strong>la pratique du jeu de rôle</strong>. C'est-à-dire qu'elle ne se contente pas de glisser quelques postures rôlistes dans un ensemble qui ne l'est pas, mais prend l’ensemble du jeu sous cet angle.</p>
            <p>Cas particulier mis à part, son canal de guilde et ses échanges de personne à personne se font en roleplay. Cela signifie purement et simplement que ses joueurs respectent la charte (jdr) du serveur où elle réside, la Confrérie du Thorium, qu'ils respectent le background du monde où elle se trouve et, évidemment, son propre background. Les histoires et récits de chaque personne se prêtant au jeu seront accueillis et intégrés dans sa propre histoire.</p>
            <h2>Background</h2>
            <p>Depuis sa fondation, l'Ost Pourpre a pour objet <strong>la reconquête du royaume de Lordaeron</strong> sur les êtres immondes qui l'ont conquis : Fléau et Réprouvés. Ses soldats n’ont de cesse de redonner leur éclat à Caer Darrow, Stratholme et, bien entendu, Lordaeron, d'où Sylvanas doit être chassée. Son ambition originelle était de <strong>remettre la légitime dynastie royale sur le trône</strong> de Lordaeron.</p>
            <p>Avec le temps, les évolutions du monde ont conduit l’Ost à amplifier ses actions. Le Fléau étant éliminé, ses attaques se sont orientées uniquement sur les Réprouvés, dans le but de sauver ce qui pouvait l’être de la civilisation des Hommes du Nord. C’est ainsi que, peu de temps après le Cataclysme, l’Ost Pourpre a mis sur pied une initiative, <strong>le Conseil des Fils du Nord</strong>, qui vise à regrouper, au-delà des guildes et des individus, tous ceux qui ont pour ambition la survie de l’espèce humaine dans les terres attaquées par les séides de Sylvanas. Lordaeron, Gilneas, Stromgarde et Alterac, les royaumes issus de l’ancienne Arathor, sont désormais l’objet de son combat.</p>
            <p>Désormais, avec la chute de Fossoyeuse, l’Ost Pourpre est solidement implantée dans la région depuis le Beffroi du Nord, solide forteresse d’où se déploie une double ambition : <strong>recoloniser la région et, à terme, reconstituer l'Empire d'Arathor.</strong></p>
            <h2>En jeu</h2>
            <p>L'Ost Pourpre s’intéresse tant aux aspects pve que pvp, considérant qu’il est possible de pratiquer l’ensemble du jeu sous un angle roleplay. La plus grande joie de ses membres est de découvrir les contrées d'Azeroth, d'en révéler les mystères et d'accomplir de hauts faits d'armes. Une bonne ambiance, du roleplay, des campagnes s'échelonnant sur plusieurs mois, des récits épiques, voilà ce que vous pourrez trouver chez nous !</p>
            <p>Pour ce faire, nous prenons le parti d'être résolument exigeants sur la pratique du roleplay des personnes qui seront amenées à proposer leur candidature chez nous. Nous ne comptons pas, en effet, faire de la guilde un ordre pléthorique en termes d’effectifs, afin que personne ne sombre dans l'anonymat. Nous portons dès lors <strong>une grande attention à la qualité et à l'originalité de vos candidatures</strong>. Dans tous les cas, nous sommes toujours ravis de rencontrer de nouveaux joueurs et, que vous entriez ou non chez nous, sachez que nous aurons grand plaisir à jouer avec vous, sur ce forum ou en jeu !</p>
            <p>Bienvenue à tous !</p>
        </div>
    </div>
{% endblock %}
